@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    <ul class="nav navbar-nav navbar-right">
        <li>
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Mi cuenta
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation">@Html.ActionLink("Perfil", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Administrar" })</li>
                        <li role="presentation">@Html.ActionLink("Mis Pisos", "MisPisos", "Account", routeValues: null, htmlAttributes: new { title = "Administrar" })</li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mis Alquileres</a></li>
                        <li role="presentation">@Html.ActionLink("Notificaciones", "Notificaciones", "Account", routeValues: null, htmlAttributes: new { title = "Administrar" })</li>
                    </ul>
                </div>
            
        </li>       
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right navbar-register">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
