@model IEnumerable<PisoEstudiantes.Models.DTO.Flat> 
@{
    ViewBag.Title = "MisPisos";
}
@Styles.Render("~/Content/manage_flat.css")
<h2>Mis Pisos</h2>
<h4>Desde aquí podrás gestionar tus pisos: actulizarlos, o quitarlos de alquiler.</h4>

<div class="flat-container">
    <div class="alert alert-success" role="alert" hidden="hidden">
        <p><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>El piso ha sido eliminado correctamente</p>
    </div>
    <div class="alert alert-info" role="alert" hidden="hidden">
        <p>No se ha podido eliminar el piso en estos momentos. Por favor, inténtalo nuevamente</p>
    </div>
    <div class="alert alert-danger" role="alert" hidden="hidden">
        <p>Se han encontrado problemas en el servidor. Por favor, si sigue sucediendo esto, pongáse en contacto con el equipo de <strong>InstantPiso</strong></p>
    </div>
    <ul>
        @foreach (var flat in Model)
        {
            <li class="@Html.DisplayFor(modelItem => flat.ID)">
                <div class="flat">
                    <img src="~/Content/img/@Html.DisplayFor(modelItem => flat.Profile)">
                    <div class="description">
                        <span class="city">@Html.DisplayFor(modelItem => flat.City)</span>
                        <p>@Html.DisplayFor(modelItem => flat.Description)</p>
                        <div class="buttons">
                            <input type="button" class="btn btn-default btn-delete" value="Eliminar" name="@Html.DisplayFor(modelItem => flat.ID)" />
                            <input type="button" class="btn btn-default btn-update" value="Actualziar" name="@Html.DisplayFor(modelItem => flat.ID)" />
                            <input type="button" class="btn btn-default btn-schedule" value="Horarios" name="@Html.DisplayFor(modelItem => flat.ID)" />
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
    <script type="text/javascript">
        var port = location.port; //Al estar combinando controladores MVC y Web API, necesitamos la uri entera
        var uri = "http://localhost:" + port + "/api/pisos/";
        $(document).ready(function () {
            $(".btn-delete").click(function () {
                var uriMethod = uri;
                var id = $(this).attr("name");
                uri = "";
                uri = uriMethod + id;
                $.ajax({
                    type: "DELETE",
                    url: uri, 
                    success: function (data) {
                        if (data) {
                            $("." + id).remove();
                            $(".alert-success").show();
                            $(".alert-success").fadeIn('slow').delay(4000).fadeOut('slow');
                        }
                        else {
                            $(".alert-info").show();
                            $(".alert-info").fadeIn('slow').delay(4000).fadeOut('slow');
                        }
                    },
                    error: function () {
                        $(".alert-danger").show();
                        $(".alert-danger").fadeIn('slow').delay(4000).fadeOut('slow');
                    }
                });
            })
            $(".btn-update").click(function () {
                uri = "http://localhost:" + port + "/Account/MisPisos/Actualizar/";
                var id = $(this).attr("name");
                uri = uri + id;
                window.location.href = uri;
            })
            $(".btn-schedule").click(function () {
                uri = "http://localhost:" + port + "/Account/MisPisos/Horario/";
                var id = $(this).attr("name");
                uri = uri + id;
                window.location.href = uri;
            })
        })
    </script>
</div>